.contenido{
    background-color: #fff;
    border-radius: 1px;
}

.ofertas{
    background: rgb(182,0,50);
    background: linear-gradient(0deg, rgba(182,0,50,1) 0%, rgba(120,1,29,1) 88%);
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.ofertasfd {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
    background: #fff;
    boder: 20px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}




.cabefd{
background: rgba( 255, 255, 255, 0.05 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.card{
  -webkit-box-shadow:0px 0px 10px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
    

    
    
}

.color-change-2x {
	-webkit-animation: color-change-2x 4s linear infinite alternate both;
	        animation: color-change-2x 4s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #fff;
  }
  100% {
    background: #bbbbbb;
  }
}
@keyframes color-change-2x {
  0% {
    background: #bbbbbb;
  }
  100% {
    background: #fff;
  }
}


.circulo{
    width: 100%;
    height: 259px;
    display: block; 
    margin: 0 auto;
    object-fit: cover;
    border: 1px solid #ddd; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
    border-radius: 15px;
    
}

.navbar-rounded-bottom {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
}

.navbar-custom {
    background-color: #000000cf;
    overflow: visible; 
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px); 
    position: fixed; 
    z-index: 1000; 

}


.carousel{
    border: 1px solid #ddd; 
    border-radius: 5px;
   -webkit-box-shadow:0px 0px 36px 12px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 36px 12px rgba(0,0,0,1);
box-shadow: 0px 0px 36px 12px rgba(0,0,0,1);
    z-index: -1;
    height: 483px;
}

.carousel-inner{
    border-radius: 5px;
}


.carousel-item {
    position: relative;
    overflow: hidden;
}

.carousel-item img {
    transition: transform 0.5s ease-in-out;
    height: 480px;
}

.carousel-item-next, .carousel-item-prev {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.swing-in-bottom-fwd {
	-webkit-animation: swing-in-bottom-fwd 0.5s both;
	        animation: swing-in-bottom-fwd 0.5s both;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    -webkit-animation: none !important; 
    animation: none !important; 
}

.carousel-item-next {
    animation: swing-in-bottom-fwd 1s forwards !important;
}

.carousel-item-prev {
    animation: swing-in-bottom-fwd 1s forwards !important;
}


@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
            transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
            transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 1;
  }
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 40px 0;
}

.list-unstyled li a{
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s ease;
    display: inline-block;
}

.list-unstyled li a:hover{
    transform: scale(1.2); 
}


.myimg1 {
    width: 259px;
    height: 420px;
    object-fit: cover;
    
}

.oferimg {
    width: 100%;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    
}

.btn-ccc{
    color: black;
    font-size: 20px;
    transition: transform 0.3s ease;
    
}

.btn-ccc:hover{
  transform: scale(1.1); 
  
}

.btn-ccc {
	-webkit-animation: btn-ccc 4s linear infinite alternate both;
	        animation: btn-ccc 4s linear infinite alternate both;
}

@-webkit-keyframes btn-ccc {
  0% {
    background: #000;
    color: #fff;
  }
  100% {
    background: #9c0202;
    color: #fff;  
  }
}
@keyframes btn-ccc {
  0% {
    background: #000;
      color: #fff;
  }
  100% {
    background: #9c0202;
    color: #fff;  
  }
}

.galecv{
    margin: 10px auto; 
    width: 90%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.galecv img{
    width: 15%; 
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 1); 
    -webkit-box-shadow:0px 0px 41px 20px rgba(0,0,0,0.59);
-moz-box-shadow: 0px 0px 41px 20px rgba(0,0,0,0.59);
box-shadow: 0px 0px 41px 20px rgba(0,0,0,0.59);
    transition: all ease-in-out 0.5s;
    margin: 0; 
}

.galecv img:hover{
    width: 50%;
}

.hidden {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}



body {
    margin: 0;
    padding-top: 40px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 33%);
    background-color: #fff;
    display: flex;
    flex-direction: column; 
    overflow-x: hidden;
}

canvas {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}



#blogo {
    width: 170px;
    margin: 0 20px 0 18px;
}

#logo {
    width: 120px;
    margin: 7px 0 0 -168px;
}

#titulo {
    margin: -100px 0 0 190px;
    font-weight: bold;
    color: #700;
    z-index: 4000;
    text-shadow: 0 1px 0.5px #000;
    font-size: 2em;
}

#linea {
    width: 265px;
    border: 1px solid #000;
    color: #000;
    margin: -2px 0 0 190px;
}

#slogan {
    margin: -3px 0 0 190px;
    font-family: "Calibri";
    font-weight: bold;
    font-size: 1.2em;
}

#bEst {
    margin: -100px 0 0 0;
    float: right;
    width: 350px;
    z-index: 1000;
}
        
#Est {
    margin: -83.5px -300px 0 0;
    z-index: 2000;
    float: right;
    width: 280px;
    height: 140px;
}

#canvas {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}


@media (max-width: 768px) {
#bEst, #Est, #blogo {
    display: none;
}

.carousel-caption{
    background-color: #000000ad;
    overflow: hidden;
    backdrop-filter: blur(2px); 
    -webkit-backdrop-filter: blur(2px); 
    z-index: 1000; 
    border-radius: 70px;
    padding: 10px;
    max-width: 80%;
    margin: 0 auto; 
}
    
.container, .row {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
    
.circulo{
    width: 95%;
    height: 20%;
    display: block; 
    margin: 0 auto;
    object-fit: cover;
}


#logo {
    position: relative;
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
    width: 80px; 
    margin: 0; 
    padding-top: 4px;
}

#titulo {
    font-size: 1.5em; 
    margin: 10px 0 0 0; 
    text-align: center;
}

#linea {
    width: 80%; 
    margin: 10px 0; 
    display: block;
}

#slogan {
    font-size: 1em; 
    margin: 10px 0; 
    text-align: center;
}
}
